<h2> <%= @client.name %>'s Appointments:</h2>
<p> 
<ul>
<% @client.appointments.each do |appt| %>
        <li><%= appt.day.strftime("%B %d,%Y, %l:%M %p" ) %> with
<%= appt.stylist.name.capitalize %></li>
<% end %>
</ul>
<p><%= link_to "Appointments", client_appointments_path(@client) %> |

<%= link_to "Book Appointment", new_client_appointment_path(@client) %></p>
