Stylist <h2> <%= client_name %>'s Appointments:</h2>
<p> 
<ul>
<% @client.appointments.each do |appt| %>
        <li><%= appt.day.strftime("%B %d,%Y, %l:%M %p" ) %> with
<%= appt.stylist.name.capitalize %></li>
<br><br>
<%= client_name %>'s Contact Info: <%= client_number %>
<% end %>
</ul>
<p><%= link_to "Appointments", client_appointments_path(@client) %> |

<%= link_to "Book Appointment", new_client_appointment_path(@client) %></p>

<%= link_to "Edit Client Info", edit_client_path%>
