<%= month_calendar(events: @appointments) do |date, appointments| %>
  <%= date %>

  <% appointments.each do |appointment| %>
    <div>
Client: <%= link_to appointment.client.name, appointment_path(appointment) %>
      <br> Stylist: <%= appointment.stylist.name %>
      <br>
      <%= appointment.day.strftime("%l:%M %p") %>



    </div>
  <% end %>
<% end %>

 <%= render partial: "todays_appointments" %>