<%= month_calendar(events: @appointments) do |date, appointments| %>
  <%= date %>

  <% appointments.each do |appointment| %>
    <div>
Client: <%= appointment.client.name %>
      <br> Stylist: <%= appointment.stylist.name %>
      <br>
      <%= appointment.day.strftime("%l:%M %p") %>



    </div>
  <% end %>
<% end %>