<%= render partial: "layouts/errors", locals: { object: @appointment } %>

<%= form_for [@client, @appointment] do |f| %>
   
    <%= f.label :day %>
        <%= f.datetime_field :day %> <br>

    <%= f.label :services %>
        <%= f.select :services, options_for_select(["blowdry/styling", "color", "perm", "eyelashes"]), include_blank: true %> <br>
    
    <%= f.label :price, "Price $" %> 
        <%= f.number_field :price %> <br>

     <%= f.label :length , "Appointment Length" %>
        <%= f.number_field :length %><br> hrs

    <%= f.label :stylist_id %>
        <%= f.collection_select :stylist_id, Stylist.all.where(user_id: current_user.id), :id, :name, include_blank: true %><br>
          
          <%= f.label :client_id %>
        <%= f.collection_select :client_id, Client.all.where(user_id: current_user.id), :id, :name, include_blank: true %><br>
  
    <br><br>

    <% if !params[:client_id] %>
<h1> Add a new client! </h1>
<%= render partial: "layouts/errors", locals: { object: @appointment.client } %>

   
      <%= f.fields_for :client, Client.new do |client_attr| %>
        <%= client_attr.label :name %>
            <%= client_attr.text_field :name %><br>

        <%= client_attr.label :phone_number %>
            <%= client_attr.number_field :phone_number %><br>
    
        <%= client_attr.hidden_field :user_id, value: current_user.id %>
        
  
    <% end %>
      <%= f.submit %>
    <% end %>
<% end %>

    
    