<h1> Appointment with <%= appt_client_name %> </h1>
<h3> Date: <%= @appointment.show_date %> <br> </h3> 
 <br>
<%= @appointment.services %>    
$<%= @appointment.price %> USD <br>

<%= appt_client_name %>'s Phone Number: <%= appt_client_number %>
<br><br>
<h2> Stylist Assigned: <%= appt_stylist_name %> <h2>
Projected Duration: <%= @appointment.length %> hr

<br>
<%= link_to "Edit Appointment", edit_appointment_path%>
<%= button_to "Delete", appointment_path(@appointment), method: :delete %>
