<!DOCTYPE html>
<html>
  <head>
    <title>Salon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', '/users' %><br>
    <%= link_to 'Book Appointment', '/appointments/new' %>
    <br>
    <%= link_to 'Add a New Stylist to the team!', '/stylists/new' %>
    <br>
    <%= link_to 'Logout', '/logout', method: :delete %>
    
    <%= yield %>
  </body>
</html>
